<div class="container">
  <div class="row">

    <% if @battlestations.any? { |b| b.user != current_user} ||
      @battlestations.map { |b| b.user }.uniq.size > @battlestations.size %>

      <% @battlestations.each do |battlestation| %>
      
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h4 class="text-center"><%= battlestation.name %></h4>
          <h5 class="text-center"><%= link_to battlestation.user.username.capitalize, user_battlestations_path(battlestation.user)  %></h5>
            <div class="thumbnail">
              <%= link_to image_tag(battlestation.image, class: "img-responsive"), battlestation_path(battlestation) %>
            </div>
        </div>
      <% end %>

    <% else %>

      <nav class="navbar navbar-light bg-light">
        <ul class="navbar-brand">
          <%= link_to "Add New", new_user_battlestation_path(current_user) %>
        </ul>
      </nav>
      <% @battlestations.each do |battlestation| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h4 class="text-center"><%= battlestation.name %></h4>
          <div class="thumbnail">
            <%= link_to image_tag(battlestation.image, class: "img-responsive"), battlestation_path(battlestation) %>
          </div>
            <%= link_to "Edit Battlestation", edit_battlestation_path(battlestation), class: 'btn btn-primary btn-block' %>
            <%= link_to "Delete Battlestation", battlestation, method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: 'btn btn-danger btn-block offset-2' %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

